{% extends 'layout.html.twig' %}
{% set bakery = true %}
{% block title %}Viennamoi{% endblock %}
{% block content %}


 <main role="main">
  <div class="container-fluid">
   <div id="providers" class="container">
  {%for bak in bakery %}
   <div class="row">
      <section class="col-xs-12">
        <div class="row fournisseur">
         <div class="col-xs-4">
          <img src="../web/images/providers/{{bak.image}}" alt="Error ghost"/>
         </div>
         <div class="col-xs-8">
          <h3>{{bak.name}}</h3>
          <p class="descri">{{bak.content}}</p>
          <p class="adress">
           {{bak.address.line1}}<br>
           {{bak.address.insee.CP}} - {{bak.address.insee.name}}</p>
         </div>            
        </div>
      </section>            
     </div>
  {%endfor%}  
  <div class="hidden-xs visible-sm visible-md visible-lg visible-xl">
    <div id="map"></div>
  </div>
   </div>  
  </div>

 </main>
{% endblock %}